* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* generic selectors */

.flex {
    display: flex;
}

.centered {
    justify-content: center;
    align-items: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

li {
    list-style-type: none;
}

.container {
    width: 72.5%;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position : absolute;
}

/* header selectors */

header{
    background-color: #ff6900;
}

header .container.flex {
    justify-content: space-between;
}

ul.flex li.li-categories {
    padding: 1rem 0.2rem;
}

.li-categories a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
}

div.boolean-logo img {
    max-height: 1.5rem;
}

.icon {
    max-height: 1.5rem;
    padding: 0.1rem;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

/* main selectors */

main section {
    margin: 0 auto;
}

div.product {
    margin: 3rem 0.5rem;
}

.product img {
    width: 100%;
    height: 30rem;
}

.favourite.p-absolute {
    background-color: white;
    padding: 0.2rem 0.7rem;
    font-size: 1.75rem;
    top: 0.5rem;
    right: 0;
}

.promotions {
    left: 0;
    bottom: 6rem;
    color: white;
    font-size: 0.75rem;
    font-weight: 600;
}

.discount {
    background-color: #ff0000;
    padding: 0.25rem 0.75rem;
}

.sustainability {
    background-color: #008000;
    padding: 0.25rem 0.75rem;
}

.brand {
    font-size: 0.8rem;
}

.product-title {
    text-transform: uppercase;
    font-weight: bold;
}

.final-price {
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
    font-size: 0.8rem;
    font-weight: bold;
}